
body {
  background-color: #9BD3F8;
  color: black;
  font-family: lato;
  text-align: center;
}

form {
  font-size: 20px;
}
input {
  font-size: 18px;
  text-align: center;
}
.container {
  text-align: center;
  margin: auto;
  width: 90%;
}

.box {
  width: 200px;
  height: 40px;
}

#submit {
  width: 200px;
  height: 40px;
  margin-top: 12px;
  background-color: #CA6203;
  border: none;
}

h1 {
  font-size: 50px;
}


.products {
  display: inline-block;
  margin: 0px 50px;
  background-color: white;
  width: 230px;
  margin-top: 50px;
  color: black;
}

.products h2 {
  padding-bottom: 20px;
  font-size: 35px;
  margin-top: 9px;
}

.backBtn {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background-color: #CA6203;
  width: 100px;
  height: 30px;
  padding: 5px;
}

.back {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

