<h1>Articles Index</h1>

<div class="backBtn">
  <a href="/articles/new" class="back">New</a>
</div>

{{#each articles}}
<a href="/articles/{{this.urltitle}}">
  <div class="products">
    <h1>{{this.title}}</h1>
    <p>by: {{this.author}}</p>
    <p>{{this.body}}</p>
  </div>
</a>
{{/each}}

