<h1>Article</h1>

<div class="products">
  <h3>{{data.title}}</h3>
  <p>by: {{data.author}}</p>
  <p>{{data.body}}</p>
</div>

<div class="backBtn">
  <a href="/articles" class="back">Back</a>
</div>

<div class="backBtn">
  <a href="/articles/{{data.urlTitle}}/edit" class="back">Edit</a>
</div>