<h1>New Article</h1>
  <form name="form" action="/articles" method="POST" enctype="application/x-www-form-urlencoded">
    Title: <br>
    <input type="text" name="title" class="box"><br>
    Body: <br>
    <input type="text" name="body" class="box"><br>
    Author: <br>
    <input type="text" name="author" class="box"><br>
    <input type="submit" value="Submit" id="submit">
  </form>