<h1>Product</h1>

<div class="products">
  <h2>{{data.name}}</h2>
  <h3>price: {{data.price}}</h3>
  <h3> {{data.inventory}} in stock</h3>
</div>

<div class="backBtn">
  <a href="/products" class="back">Back</a>
</div>

<div class="backBtn">
  <a href="/products/{{data.id}}/edit" class="back">Edit</a>
</div>