<h1>New Product</h1>
  <form name="form" action="/products" method="POST" enctype="application/x-www-form-urlencoded">
    Name: <br>
    <input type="text" name="name"><br>
    Price: <br>
    <input type="text" name="price"><br>
    Inventory: <br>
    <input type="text" name="inventory"><br>
    <input type="submit" value="Submit" id="submit">
  </form>